@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333333;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

* {
  min-height: 0vw;
  min-height: 0;
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.drawer-icon {
  width: 27px;
  height: 16.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(31deg);
          transform: translate(-50%, -50%) rotate(31deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-31deg);
          transform: translate(-50%, -50%) rotate(-31deg);
}

.drawer-icon__bar {
  position: absolute;
  width: 27px;
  height: 1.5px;
  background: #333333;
  border-radius: 4px;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.drawer-icon__bar:nth-of-type(2) {
  top: 7.5px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 15px;
}

.drawer-content {
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  right: 0;
  position: fixed;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow-y: scroll;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__items {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .8)), to(rgba(255, 255, 255, .8))), -webkit-gradient(linear, left top, left bottom, from(#007ADF), to(#00ECBC));
  background: linear-gradient(0deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 100%), linear-gradient(180deg, #007ADF 0%, #00ECBC 100%);
  padding: 72px 15px 83px;
}

.drawer-content__item {
  border-bottom: 1px solid #fff;
}
.drawer-content__item + .drawer-content__item {
  margin-top: 36px;
}

.drawer-content__link {
  color: #6C6E6F;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
  max-width: 261px;
  margin: 0 auto;
}

.drawer-content__footer {
  background: #fff;
  padding: 46px 31px;
  text-align: center;
}

.drawer-content__number {
  font-size: 24px;
  font-weight: 700;
  margin-left: 8px;
}

.drawer-content__text {
  font-size: 12px;
  margin-top: 6px;
}

.drawer-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.drawer-content__button {
  width: 160px;
  padding: 18px 24px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(83, 46, 37, .25);
          box-shadow: 0px 0px 4px 0px rgba(83, 46, 37, .25);
}

.footer {
  position: relative;
}

.footer__items {
  margin-top: clamp(54px, 48.8px + 1.3333333333vw, 68px);
  margin-top: clamp(3.375rem, 3.05rem + 1.3333333333vw, 4.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}
@media screen and (min-width: 1024px) {
  .footer__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}

.footer__item:first-child .footer__item-link {
  border-left: none;
}

.footer__item-link {
  font-size: clamp(13px, 11.885px + 0.2857142857vw, 16px);
  font-size: clamp(0.8125rem, 0.7428571429rem + 0.2857142857vw, 1rem);
  color: #6C6E6F;
}
@media screen and (min-width: 1024px) {
  .footer__item-link {
    border-left: 1px solid #6C6E6F;
    padding-left: 16px;
    padding-right: 15px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  max-width: 788px;
  margin-inline: auto;
}

.footer__logo {
  margin-top: clamp(44px, 42.514px + 0.380952381vw, 48px);
  margin-top: clamp(2.75rem, 2.6571428571rem + 0.380952381vw, 3rem);
  width: clamp(95px, 77.914px + 4.380952381vw, 141px);
  width: clamp(5.9375rem, 4.8696428571rem + 4.380952381vw, 8.8125rem);
  height: clamp(95px, 77.914px + 4.380952381vw, 141px);
  height: clamp(5.9375rem, 4.8696428571rem + 4.380952381vw, 8.8125rem);
}

.footer__text {
  font-size: clamp(13px, 11.885px + 0.2857142857vw, 16px);
  font-size: clamp(0.8125rem, 0.7428571429rem + 0.2857142857vw, 1rem);
  color: #6C6E6F;
  line-height: normal;
  font-weight: 500;
}

.footer__bottom {
  margin-top: 57px;
  background-color: #F4FBFD;
  text-align: center;
  padding-bottom: clamp(7px, -1.542px + 2.1904761905vw, 30px);
  padding-bottom: clamp(0.4375rem, -0.0964285714rem + 2.1904761905vw, 1.875rem);
}

.footer__copyright {
  color: #6C6E6F;
  font-size: clamp(7px, 4.4px + 0.6666666667vw, 14px);
  font-size: clamp(0.4375rem, 0.275rem + 0.6666666667vw, 0.875rem);
}

.footer__wave {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background: #fff;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 104px;
    padding-block: 16px;
    padding-left: 45px;
    padding-right: 34px;
  }
}

.header__inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__inner {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 1440px) {
  .header__inner {
    grid-template-columns: auto auto 1fr;
  }
}

.header__logo {
  width: clamp(151px, 137.628px + 3.4285714286vw, 187px);
  width: clamp(9.4375rem, 8.6017857143rem + 3.4285714286vw, 11.6875rem);
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-right: 30px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1/3;
    grid-row: 2/3;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .header__nav {
    grid-column: 2/3;
    grid-row: 1;
  }
}

.header__nav-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-item::after {
  display: block;
  content: "";
  background-color: #6C6E6F;
  width: 1px;
  height: 31px;
}
.header__nav-item:last-child::after {
  display: none;
}

.header__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 16px;
}

.header__contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__number {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.header__text {
  font-size: 12px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.header__button {
  width: clamp(128px, 116.114px + 3.0476190476vw, 160px);
  width: clamp(8rem, 7.2571428571rem + 3.0476190476vw, 10rem);
  height: clamp(40px, 34.057px + 1.5238095238vw, 56px);
  height: clamp(2.5rem, 2.1285714286rem + 1.5238095238vw, 3.5rem);
}
.header__button:first-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__button-arrow {
  margin-left: 7px;
}
@media screen and (min-width: 768px) {
  .header__button-arrow {
    display: none;
  }
}

body.is-checked {
  overflow: hidden;
}

.main {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .main {
    padding-top: 104px;
  }
}

.section-inner {
  padding-inline: 15px;
  max-width: 1082px;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .section-inner {
    padding-inline: 45px;
  }
}

.section-title {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 40px;
  }
}

.section-title--deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  position: relative;
  max-width: clamp(400px, 181.971px + 55.9047619048vw, 987px);
  max-width: clamp(25rem, 11.3732142857rem + 55.9047619048vw, 61.6875rem);
  width: 100%;
  margin: 0 auto;
}
.section-title--deco::before, .section-title--deco::after {
  position: absolute;
  content: "";
  width: 24.922px;
  height: 40px;
  background-size: contain;
}
@media screen and (min-width: 1440px) {
  .section-title--deco::before, .section-title--deco::after {
    max-width: 33px;
    height: 52.966px;
    width: 100%;
    display: block;
  }
}
.section-title--deco::before {
  background-image: url(../images/heading-left.png);
  left: -7px;
}
@media screen and (min-width: 768px) {
  .section-title--deco::before {
    left: -26px;
    margin-right: 16px;
  }
}
.section-title--deco::after {
  background-image: url(../images/heading-right.png);
  right: -7px;
}
@media screen and (min-width: 768px) {
  .section-title--deco::after {
    right: -26px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .section-title--deco {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.button-conversion {
  background: #FF8B71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: clamp(2rem, 1.8142857143rem + 0.7619047619vw, 2.5rem);
  font-weight: 700;
}

.button-link {
  background: linear-gradient(177deg, #50BFCB -29.45%, rgba(80, 191, 203, .42) 127.88%);
  border-radius: 32px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(41, 81, 86, .25);
          box-shadow: 0px 0px 4px 0px rgba(41, 81, 86, .25);
  padding: 16px 24px;
  color: #fff;
  min-width: 258px;
  display: inline-block;
}

.campaign {
  padding-top: clamp(24px, 18.057px + 1.5238095238vw, 40px);
  padding-top: clamp(1.5rem, 1.1285714286rem + 1.5238095238vw, 2.5rem);
  padding-bottom: clamp(24px, 16.942px + 1.8095238095vw, 43px);
  padding-bottom: clamp(1.5rem, 1.0589285714rem + 1.8095238095vw, 2.6875rem);
  padding-inline: 15px;
  background: url(../images/campaign-bg-sp.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.campaign__image {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .campaign__image {
    max-width: 59.444vw;
  }
}

.steps {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 41px;
}
@media screen and (min-width: 768px) {
  .steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 31px;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    max-width: 234px;
  }
}

.step__image {
  max-width: 118px;
}

.step__lead {
  font-family: "Yomogi", sans-serif;
  font-size: clamp(15px, 12.028px + 0.7619047619vw, 23px);
  font-size: clamp(0.9375rem, 0.7517857143rem + 0.7619047619vw, 1.4375rem);
  letter-spacing: -1.35px;
}
@media screen and (min-width: 768px) {
  .step__lead {
    position: absolute;
    letter-spacing: -2.07px;
    white-space: nowrap;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    top: 0;
    left: 0;
  }
}

.step__title {
  margin-top: 13px;
  font-size: clamp(20px, 18.514px + 0.380952381vw, 24px);
  font-size: clamp(1.25rem, 1.1571428571rem + 0.380952381vw, 1.5rem);
}

.step__text {
  margin-top: 15px;
  line-height: 150%;
}

.talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(19px, 17.142px + 0.4761904762vw, 24px);
  gap: clamp(1.1875rem, 1.0714285714rem + 0.4761904762vw, 1.5rem);
}
.talk + .talk {
  margin-top: 18px;
}

.talk--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.talk--reverse .talk__balloon::before {
  left: auto;
  left: initial;
  right: -16px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.talk__icon {
  width: clamp(50px, 35.142px + 3.8095238095vw, 90px);
  width: clamp(3.125rem, 2.1964285714rem + 3.8095238095vw, 5.625rem);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 clamp(50px, 35.142px + 3.8095238095vw, 90px);
          flex: 0 0 clamp(50px, 35.142px + 3.8095238095vw, 90px);
  -ms-flex: 0 0 clamp(3.125rem, 2.1964285714rem + 3.8095238095vw, 5.625rem);
      flex: 0 0 clamp(3.125rem, 2.1964285714rem + 3.8095238095vw, 5.625rem);
}

.talk__icon--hidden {
  opacity: 0;
}

.talk__balloon {
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 29, 104, .25);
          box-shadow: 0px 0px 4px 0px rgba(0, 29, 104, .25);
  border-radius: 24px;
  padding: 16px;
  position: relative;
}
.talk__balloon::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 32px;
  top: 19px;
  left: -16px;
  background-image: url(../images/balloon-triangle.svg);
  background-repeat: no-repeat;
}

.talk__text {
  font-size: clamp(15px, 13.142px + 0.4761904762vw, 20px);
  font-size: clamp(0.9375rem, 0.8214285714rem + 0.4761904762vw, 1.25rem);
  line-height: 170%;
  letter-spacing: clamp(-0.15px, -0.428px + 0.0714285714vw, 0.6px);
  letter-spacing: clamp(-0.009375rem, -0.0267857143rem + 0.0714285714vw, 0.0375rem);
  text-align: justify;
}

.talk__text-strong {
  font-weight: 700;
  background-color: #C6ECEC;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.wave-top {
  top: 0;
  -webkit-transform: translateY(-100%) translateY(2px) scale(1, 1);
          transform: translateY(-100%) translateY(2px) scale(1, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.wave-bottom {
  bottom: 0;
  -webkit-transform: translateY(100%) translateY(-2px) scale(1, 1);
          transform: translateY(100%) translateY(-2px) scale(1, 1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.banner {
  padding-top: clamp(20px, 12.571px + 1.9047619048vw, 40px);
  padding-top: clamp(1.25rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
  max-width: 1280px;
  padding-inline: 15px;
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .banner {
    padding-inline: 0;
  }
}

.compare__inner {
  padding-top: clamp(54px, 29.485px + 6.2857142857vw, 120px);
  padding-top: clamp(3.375rem, 1.8428571429rem + 6.2857142857vw, 7.5rem);
  padding-bottom: clamp(40px, 25.142px + 3.8095238095vw, 80px);
  padding-bottom: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
}

.compare__title {
  max-width: 249px;
}

.compare__scrollable {
  padding-top: clamp(40px, 22.171px + 4.5714285714vw, 88px);
  padding-top: clamp(2.5rem, 1.3857142857rem + 4.5714285714vw, 5.5rem);
  width: 101%;
}

.compare__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-collapse: collapse;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.compare__table-head .compare__table-cell {
  background: #C6ECEC;
  border-bottom: 1px solid #fff;
}
.compare__table-head .compare__table-cell:first-child {
  background: #fff;
}
.compare__table-head .compare__table-cell:nth-child(2) {
  border-radius: 8px 0 0 0;
}
.compare__table-head .compare__table-cell:last-child {
  border-radius: 0 0 0 8px;
}

.compare__table-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compare__table-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compare__table-cell {
  border-bottom: 1px solid #C6ECEC;
  border-right: 1px solid #C6ECEC;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  place-content: center;
  width: 159px;
  height: 48px;
  display: grid;
}
@media screen and (min-width: 768px) {
  .compare__table-cell {
    width: 199px;
    height: 60px;
  }
}

.compare__table-cell--header {
  background: #C6ECEC;
  border-right: 1px solid #fff;
}

.compare__table-column--highlight .compare__table-cell {
  border-left: 5px solid #FF8B71;
  border-right: 5px solid #FF8B71;
  font-weight: 700;
  font-size: clamp(16px, 14.514px + 0.380952381vw, 20px);
  font-size: clamp(1rem, 0.9071428571rem + 0.380952381vw, 1.25rem);
}
.compare__table-column--highlight .compare__table-cell:first-child {
  background: #FF8B71;
  border-bottom: 5px solid #FF8B71;
  position: relative;
}
.compare__table-column--highlight .compare__table-cell:first-child::before {
  position: absolute;
  content: "";
  display: block;
  width: 160px;
  height: 14px;
  top: -11px;
  left: -5px;
  background-color: #FF8B71;
  border-radius: 8px 8px 0 0;
}
@media screen and (min-width: 768px) {
  .compare__table-column--highlight .compare__table-cell:first-child::before {
    width: 199.8px;
  }
}
.compare__table-column--highlight .compare__table-cell:first-child::after {
  position: absolute;
  content: "とてもお得！";
  top: -20px;
  left: -48px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Yomogi", sans-serif;
  letter-spacing: -1.8px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.compare__table-column--highlight .compare__table-cell:nth-child(2) {
  border-top: 5px solid #FF8B71;
}
.compare__table-column--highlight .compare__table-cell:last-child {
  border-bottom: 5px solid #FF8B71;
}
.compare__table-column--highlight .compare__table-cell img {
  background: #fff;
  width: clamp(125px, 114.971px + 2.5714285714vw, 152px);
  width: clamp(7.8125rem, 7.1857142857rem + 2.5714285714vw, 9.5rem);
  border-radius: 6.426px;
  padding: 0px 7.293px 0px 5.96px;
}

.cta {
  background: #C6ECEC;
  position: relative;
}

.cta__wave {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-100%) translateY(2px) scale(1, 1);
          transform: translateY(-100%) translateY(2px) scale(1, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 100%;
}

.cta__inner {
  padding-top: 63px;
  padding-bottom: 120px;
}

.cta__content {
  position: relative;
}

.cta__title {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 67%;
  letter-spacing: -0.72px;
}

.cta__title--strong {
  font-weight: 700;
}

.cta__button-boxes {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .cta__button-boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cta__button-text {
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.cta__button-text::before, .cta__button-text::after {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background-color: #6C6E6F;
}
.cta__button-text::before {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.cta__button-text::after {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
@media screen and (min-width: 768px) {
  .cta__button-text {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.cta__button {
  margin-top: clamp(8px, 6.514px + 0.380952381vw, 12px);
  margin-top: clamp(0.5rem, 0.4071428571rem + 0.380952381vw, 0.75rem);
  font-size: clamp(22px, 19.028px + 0.7619047619vw, 30px);
  font-size: clamp(1.375rem, 1.1892857143rem + 0.7619047619vw, 1.875rem);
  padding: 20px 10px;
  width: clamp(300px, 262.857px + 9.5238095238vw, 400px);
  width: clamp(18.75rem, 16.4285714286rem + 9.5238095238vw, 25rem);
  height: clamp(56px, 44.114px + 3.0476190476vw, 88px);
  height: clamp(3.5rem, 2.7571428571rem + 3.0476190476vw, 5.5rem);
}

.cta__button--deco {
  font-size: clamp(20px, 17.028px + 0.7619047619vw, 28px);
  font-size: clamp(1.25rem, 1.0642857143rem + 0.7619047619vw, 1.75rem);
}

.cta__button-arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.cta__image-sp {
  position: absolute;
  width: 77px;
  height: 136px;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 1440px) {
  .cta__image-sp {
    display: none;
  }
}

.cta__image-pc {
  display: none;
  position: absolute;
  width: 165.763px;
  height: 291px;
  top: 151px;
  right: -145.658px;
}
@media screen and (min-width: 1440px) {
  .cta__image-pc {
    display: block;
  }
}

.example {
  background: #F4FBFD;
}

.example__inner {
  padding-top: clamp(52px, 41.6px + 2.6666666667vw, 80px);
  padding-top: clamp(3.25rem, 2.6rem + 2.6666666667vw, 5rem);
  padding-bottom: clamp(55px, 45.714px + 2.380952381vw, 80px);
  padding-bottom: clamp(3.4375rem, 2.8571428571rem + 2.380952381vw, 5rem);
  max-width: 1280px;
}

.example__content {
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .25);
  border-radius: 24px;
  padding: 55px 15px 50px;
}
@media screen and (min-width: 768px) {
  .example__content {
    padding: 40px 75px 48px 75px;
  }
}

.example__title {
  max-width: 250px;
}

.example__lead {
  margin-top: clamp(31px, 27.657px + 0.8571428571vw, 40px);
  margin-top: clamp(1.9375rem, 1.7285714286rem + 0.8571428571vw, 2.5rem);
  font-size: clamp(15px, 13.885px + 0.2857142857vw, 18px);
  font-size: clamp(0.9375rem, 0.8678571429rem + 0.2857142857vw, 1.125rem);
  line-height: 150%;
}
@media screen and (min-width: 1440px) {
  .example__lead {
    line-height: 170%;
    letter-spacing: 0.54px;
    text-align: center;
  }
}

.example__container {
  position: relative;
}
.example__container .swiper-horizontal > .swiper-pagination-bullets, .example__container .swiper-pagination-bullets.swiper-pagination-horizontal, .example__container .swiper-pagination-custom, .example__container .swiper-pagination-fraction {
  bottom: -11px;
}

.example__swiper {
  margin-top: clamp(40px, 37.028px + 0.7619047619vw, 48px);
  margin-top: clamp(2.5rem, 2.3142857143rem + 0.7619047619vw, 3rem);
  padding-bottom: clamp(40px, 37.028px + 0.7619047619vw, 48px);
  padding-bottom: clamp(2.5rem, 2.3142857143rem + 0.7619047619vw, 3rem);
}

.example__slide {
  padding-inline: 45px;
}
@media screen and (min-width: 768px) {
  .example__slide {
    padding-inline: 16px;
  }
}

.example__text {
  margin-top: 26px;
  text-align: center;
}

.example__prev,
.example__next {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 51%;
}

.example__prev {
  left: -5px;
}

.example__next {
  right: -5px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet {
  background: #B6B7B7;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #6C6E6F;
}

.faq__inner {
  padding-top: clamp(78px, 77.257px + 0.1904761905vw, 80px);
  padding-top: clamp(4.875rem, 4.8285714286rem + 0.1904761905vw, 5rem);
  padding-bottom: clamp(56px, 47.085px + 2.2857142857vw, 80px);
  padding-bottom: clamp(3.5rem, 2.9428571429rem + 2.2857142857vw, 5rem);
}

.faq__title {
  max-width: 201px;
}

.faq__items {
  margin-top: clamp(48px, 36.114px + 3.0476190476vw, 80px);
  margin-top: clamp(3rem, 2.2571428571rem + 3.0476190476vw, 5rem);
  margin-inline: auto;
  max-width: 768px;
}

.faq__item {
  border-bottom: 1px solid #B6B7B7;
  padding-bottom: clamp(17px, 15.514px + 0.380952381vw, 21px);
  padding-bottom: clamp(1.0625rem, 0.9696428571rem + 0.380952381vw, 1.3125rem);
}
.faq__item + .faq__item {
  margin-top: clamp(19px, 17.142px + 0.4761904762vw, 24px);
  margin-top: clamp(1.1875rem, 1.0714285714rem + 0.4761904762vw, 1.5rem);
}

.faq__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq__head-icon {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(15px, 14.628px + 0.0952380952vw, 16px);
  font-size: clamp(0.9375rem, 0.9142857143rem + 0.0952380952vw, 1rem);
  background-color: #82BFED;
  border-radius: 33px;
  min-width: 25px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  margin-top: 4px;
}

.faq__head-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.64px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 16px;
  margin-top: 2.4px;
  width: 100%;
}

.faq__head-arrow {
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5px;
}
.faq__head-arrow.is-open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 17px;
}

.faq__body-icon {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(15px, 14.628px + 0.0952380952vw, 16px);
  font-size: clamp(0.9375rem, 0.9142857143rem + 0.0952380952vw, 1rem);
  border-radius: 100%;
  min-width: 25px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border: 1px solid #82BFED;
  color: #82BFED;
}

.faq__body-text {
  text-align: justify;
  line-height: 181%;
  padding-right: 17px;
}

.guide {
  background-color: #F4FBFD;
  position: relative;
}

.guide__inner {
  padding-top: clamp(50px, 38.857px + 2.8571428571vw, 80px);
  padding-top: clamp(3.125rem, 2.4285714286rem + 2.8571428571vw, 5rem);
  padding-bottom: clamp(27px, 7.314px + 5.0476190476vw, 80px);
  padding-bottom: clamp(1.6875rem, 0.4571428571rem + 5.0476190476vw, 5rem);
}

.guide__title {
  max-width: 201px;
}

.guide__items {
  margin-top: clamp(52px, 41.6px + 2.6666666667vw, 80px);
  margin-top: clamp(3.25rem, 2.6rem + 2.6666666667vw, 5rem);
  margin-inline: auto;
  max-width: 800px;
}

.guide__item + .guide__item {
  margin-top: 44px;
}

.guide__item-title {
  font-weight: 400;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.guide__item-title::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(177deg, #50BFCB -29.45%, rgba(80, 191, 203, .42) 127.88%);
}

.guide__item-text {
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.6px;
  margin-top: 13px;
}
.guide__item-text + .guide__item-text {
  margin-top: 30px;
}

.guide__item-lists {
  border-top: 1px dashed #6C6E6F;
  border-bottom: 1px dashed #6C6E6F;
  padding-block: 20px;
  margin-top: clamp(3px, 0.771px + 0.5714285714vw, 9px);
  margin-top: clamp(0.1875rem, 0.0482142857rem + 0.5714285714vw, 0.5625rem);
  width: 215px;
}

.guide__item-list {
  font-size: 15px;
  letter-spacing: 0.45px;
}
.guide__item-list + .guide__item-list {
  margin-top: 11px;
}

.guide__item-text--info {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  line-height: 163%;
  margin-top: 37px;
}

.guide__item-text--attention {
  font-size: 13px;
  color: #6C6E6F;
  margin-top: 12px;
  line-height: normal;
  text-align: justify;
}

.info__inner {
  padding-top: clamp(84px, 85.485px + -0.380952381vw, 80px);
  padding-top: clamp(5.25rem, 5.3428571429rem + -0.380952381vw, 5rem);
  padding-bottom: clamp(40px, 25.142px + 3.8095238095vw, 80px);
  padding-bottom: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
}

.info__items {
  margin-top: 57px;
  margin-inline: auto;
  max-width: 768px;
}

.info__item {
  border-bottom: 1px solid #B6B7B7;
  padding-bottom: clamp(5px, -1.314px + 1.619047619vw, 22px);
  padding-bottom: clamp(0.3125rem, -0.0821428571rem + 1.619047619vw, 1.375rem);
}
.info__item + .info__item {
  margin-top: 27px;
}

.info__item-meta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 25px;
}

.info__item-date {
  font-family: "Lato", sans-serif;
}

.info__item-category {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  border: 1px solid #6C6E6F;
  border-radius: 2px;
  padding: 2px 7px;
}

.info__item-title {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: justify;
}

.info__button {
  margin-top: 40px;
  text-align: center;
}
.info__button .button-link {
  line-height: 150%;
}

.labo {
  position: relative;
}

.labo__inner {
  padding-top: clamp(58px, 49.828px + 2.0952380952vw, 80px);
  padding-top: clamp(3.625rem, 3.1142857143rem + 2.0952380952vw, 5rem);
  padding-bottom: clamp(40px, 25.142px + 3.8095238095vw, 80px);
  padding-bottom: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
}

.labo__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labo__title {
  font-family: "Yomogi", sans-serif;
  font-size: 21px;
  letter-spacing: -3.15px;
  color: #00C2CB;
  display: table;
  line-height: 170%;
}
@media screen and (min-width: 768px) {
  .labo__title {
    font-size: 42px;
    letter-spacing: -6.3px;
  }
}

.labo__title--span1 {
  letter-spacing: -1.05px;
}

.labo__title--span2 {
  letter-spacing: 0.42px;
}

.labo__title--span3 {
  letter-spacing: -0.84px;
}

.labo__lead {
  font-size: 9.137px;
  letter-spacing: 0.183px;
  line-height: 170%;
}
@media screen and (min-width: 768px) {
  .labo__lead {
    font-size: 18px;
    letter-spacing: 0.36px;
  }
}

.labo__items {
  margin-top: clamp(40px, 25.142px + 3.8095238095vw, 80px);
  margin-top: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .labo__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.labo__button {
  margin-top: clamp(40px, 25.142px + 3.8095238095vw, 80px);
  margin-top: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
  text-align: center;
}
.labo__button .button-link {
  line-height: 170%;
}

.movie__inner {
  padding-top: 55px;
  padding-bottom: 47px;
  max-width: 1120px;
}
@media screen and (min-width: 768px) {
  .movie__inner {
    padding-top: 71px;
    padding-bottom: 42px;
  }
}

.movie__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .movie__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
  }
}

.movie__item {
  max-width: 471px;
}
.movie__item img {
  border-radius: 16px;
}

.point__inner {
  padding-top: clamp(57px, 49.2px + 2vw, 78px);
  padding-top: clamp(3.5625rem, 3.075rem + 2vw, 4.875rem);
  padding-bottom: clamp(53px, 43.714px + 2.380952381vw, 78px);
  padding-bottom: clamp(3.3125rem, 2.7321428571rem + 2.380952381vw, 4.875rem);
}

.point__title {
  line-height: normal;
  text-align: center;
}

.point__items {
  margin-top: clamp(30px, 26.285px + 0.9523809524vw, 40px);
  margin-top: clamp(1.875rem, 1.6428571429rem + 0.9523809524vw, 2.5rem);
  position: relative;
}
@media screen and (min-width: 1440px) {
  .point__items::before {
    position: absolute;
    content: "";
    width: 634.446px;
    height: 1517.184px;
    top: 13.5%;
    left: 24.8%;
    background-image: url(../images/point-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.point__item + .point__item {
  margin-top: 46px;
}
.point__item:nth-child(6) .point__item-text {
  letter-spacing: 0.7px;
}
@media screen and (min-width: 768px) {
  .point__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 32px;
  }
  .point__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .point__item:nth-child(2) {
    margin-top: 28px;
  }
  .point__item:nth-child(3) {
    margin-top: 32px;
  }
  .point__item:nth-child(4) {
    margin-top: 40px;
  }
  .point__item:nth-child(5) {
    margin-top: 43px;
  }
  .point__item:nth-child(6) {
    margin-top: 31px;
  }
}

.point__item-number {
  font-size: 64px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #82BFED;
  position: relative;
  margin-left: 19px;
}
.point__item-number::after {
  position: absolute;
  content: "point";
  top: 30px;
  left: -23px;
  color: #333333;
  background-color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.point__item-image {
  border-radius: 2px;
  margin-top: 4px;
}
@media screen and (min-width: 768px) {
  .point__item-image img {
    max-width: 310px;
    max-height: 284px;
    aspect-ratio: 155/142;
  }
}

.point__item-content {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .point__item-content {
    margin-top: 5px;
    max-width: 65%;
  }
}

.point__item-title {
  font-size: clamp(20px, 18.514px + 0.380952381vw, 24px);
  font-size: clamp(1.25rem, 1.1571428571rem + 0.380952381vw, 1.5rem);
  font-weight: 700;
  line-height: normal;
  color: #2273AE;
}
@media screen and (min-width: 768px) {
  .point__item-title {
    letter-spacing: 0.72px;
    margin-top: 8px;
  }
}

.point__item-text {
  margin-top: clamp(16px, 15.257px + 0.1904761905vw, 18px);
  margin-top: clamp(1rem, 0.9535714286rem + 0.1904761905vw, 1.125rem);
  line-height: 170%;
  letter-spacing: clamp(0.48px, 0.457px + 0.0057142857vw, 0.54px);
  letter-spacing: clamp(0.03rem, 0.0286071429rem + 0.0057142857vw, 0.03375rem);
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .point__item-text {
    margin-top: 24px;
  }
}

.point__item-text--note {
  color: #6C6E6F;
}
@media screen and (min-width: 768px) {
  .point__item-text--note {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.problem__inner {
  background: url(../images/problem-bg-sp.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.problem__head {
  padding-top: clamp(43px, 29.257px + 3.5238095238vw, 80px);
  padding-top: clamp(2.6875rem, 1.8285714286rem + 3.5238095238vw, 5rem);
  text-align: center;
}

.problem__body {
  margin-top: clamp(24px, 23.628px + 0.0952380952vw, 25px);
  margin-top: clamp(1.5rem, 1.4767857143rem + 0.0952380952vw, 1.5625rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: clamp(420px, 207.542px + 54.4761904762vw, 992px);
  max-width: clamp(26.25rem, 12.9714285714rem + 54.4761904762vw, 62rem);
  width: 100%;
  padding-right: 15px;
  position: relative;
  height: clamp(241px, 193.828px + 12.0952380952vw, 368px);
  height: clamp(15.0625rem, 12.1142857143rem + 12.0952380952vw, 23rem);
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .problem__body {
    gap: 64px;
  }
}

.problem__image {
  position: absolute;
  display: block;
}
.problem__image img {
  height: clamp(241px, 193.828px + 12.0952380952vw, 368px);
  height: clamp(15.0625rem, 12.1142857143rem + 12.0952380952vw, 23rem);
}
@media screen and (min-width: 1440px) {
  .problem__image {
    position: static;
  }
}

.problem__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 32px;
  padding-bottom: clamp(31px, 27.285px + 0.9523809524vw, 41px);
  padding-bottom: clamp(1.9375rem, 1.7053571429rem + 0.9523809524vw, 2.5625rem);
  z-index: 2;
  gap: clamp(19px, 15.285px + 0.9523809524vw, 29px);
  gap: clamp(1.1875rem, 0.9553571429rem + 0.9523809524vw, 1.8125rem);
}

.problem__item {
  width: clamp(249px, 103.4px + 37.3333333333vw, 641px);
  width: clamp(15.5625rem, 6.4625rem + 37.3333333333vw, 40.0625rem);
  border: 0.395px solid #6C6E6F;
  border-radius: clamp(0.5rem, 0.3142857143rem + 0.7619047619vw, 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 9.474px 9.474px 9.474px 8px;
  background: #fff;
  max-width: 560px;
}
@media screen and (min-width: 1440px) {
  .problem__item {
    padding: 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.problem__lead {
  font-size: clamp(16px, 13.028px + 0.7619047619vw, 24px);
  font-size: clamp(1rem, 0.8142857143rem + 0.7619047619vw, 1.5rem);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.7px;
  margin-left: clamp(6.32px, 2.724px + 0.9219047619vw, 16px);
  margin-left: clamp(0.395rem, 0.1702857143rem + 0.9219047619vw, 1rem);
}

.problem__item-image {
  width: clamp(10px, 4.8px + 1.3333333333vw, 24px);
  width: clamp(0.625rem, 0.3rem + 1.3333333333vw, 1.5rem);
}

.problem__foot {
  background-color: #82BFED;
  text-align: center;
  position: relative;
  width: 100%;
  padding-block: 20px;
}
.problem__foot::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(16px);
          transform: translateX(-50%) translateY(16px);
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 27px solid #82BFED;
}
@media screen and (min-width: 1440px) {
  .problem__foot {
    background-color: rgba(130, 191, 237, .4);
    padding-top: 25px;
    padding-bottom: 33px;
  }
  .problem__foot::after {
    border-top: 50px solid rgba(130, 191, 237, .4);
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    -webkit-transform: translateX(-50%) translateY(33px);
            transform: translateX(-50%) translateY(33px);
  }
}

.problem__text {
  font-size: clamp(17px, 11.428px + 1.4285714286vw, 32px);
  font-size: clamp(1.0625rem, 0.7142857143rem + 1.4285714286vw, 2rem);
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media screen and (min-width: 768px) {
  .problem__text {
    letter-spacing: 0.96px;
    line-height: 170%;
  }
}

.product {
  background-color: #F4FBFD;
}

.product__inner {
  padding-top: clamp(70px, 66.285px + 0.9523809524vw, 80px);
  padding-top: clamp(4.375rem, 4.1428571429rem + 0.9523809524vw, 5rem);
  padding-bottom: clamp(40px, 25.142px + 3.8095238095vw, 80px);
  padding-bottom: clamp(2.5rem, 1.5714285714rem + 3.8095238095vw, 5rem);
}

.product__title {
  max-width: 154px;
}

.product__content {
  margin-top: clamp(55px, 45.714px + 2.380952381vw, 80px);
  margin-top: clamp(3.4375rem, 2.8571428571rem + 2.380952381vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
}
@media screen and (min-width: 768px) {
  .product__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 52px;
  }
}

.product__image {
  width: 150px;
  height: 265px;
}
@media screen and (min-width: 768px) {
  .product__image {
    width: 225px;
    height: 395px;
  }
}

.product__items {
  max-width: 343px;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product__item + .product__item {
  margin-top: clamp(15.5px, 14.2px + 0.3333333333vw, 19px);
  margin-top: clamp(0.96875rem, 0.8875rem + 0.3333333333vw, 1.1875rem);
}
.product__item:first-child .product__item-detail {
  font-size: 16px;
  letter-spacing: 0.48px;
}

.product__item-title {
  font-size: clamp(13px, 11.885px + 0.2857142857vw, 16px);
  font-size: clamp(0.8125rem, 0.7428571429rem + 0.2857142857vw, 1rem);
  width: clamp(94px, 91.771px + 0.5714285714vw, 100px);
  width: clamp(5.875rem, 5.7357142857rem + 0.5714285714vw, 6.25rem);
}

.product__item-detail {
  font-size: clamp(13px, 11.885px + 0.2857142857vw, 16px);
  font-size: clamp(0.8125rem, 0.7428571429rem + 0.2857142857vw, 1rem);
  letter-spacing: -0.39px;
  line-height: 1.44;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ready {
  background: #F4FBFD;
  position: relative;
}

.ready__inner {
  padding-top: clamp(57px, 48.457px + 2.1904761905vw, 80px);
  padding-top: clamp(3.5625rem, 3.0285714286rem + 2.1904761905vw, 5rem);
  padding-bottom: clamp(24px, 3.2px + 5.3333333333vw, 80px);
  padding-bottom: clamp(1.5rem, 0.2rem + 5.3333333333vw, 5rem);
}

.ready__title {
  max-width: 262px;
}

@media screen and (min-width: 768px) {
  .ready__items {
    max-width: 501px;
    gap: 90px 31px;
    margin: 80px auto 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .ready__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1123px;
  }
}

.ready__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .ready__lead-1 {
    left: 64px;
    top: -44px;
  }
  .ready__lead-2 {
    left: 54px;
    top: -45px;
  }
  .ready__lead-3 {
    left: 64.5px;
    top: -44px;
  }
  .ready__lead-4 {
    left: -9.5px;
    top: -50px;
  }
}
.recommend__inner {
  margin-top: clamp(55px, 46.828px + 2.0952380952vw, 77px);
  margin-top: clamp(3.4375rem, 2.9267857143rem + 2.0952380952vw, 4.8125rem);
  margin-bottom: clamp(40px, 29.6px + 2.6666666667vw, 68px);
  margin-bottom: clamp(2.5rem, 1.85rem + 2.6666666667vw, 4.25rem);
}

.recommend__items {
  margin-top: clamp(38px, 22.4px + 4vw, 80px);
  margin-top: clamp(2.375rem, 1.4rem + 4vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 57px 0;
}
@media screen and (min-width: 768px) {
  .recommend__items {
    gap: 33px 0;
  }
}

.recommend__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 395px;
          flex: 0 1 395px;
}
@media screen and (min-width: 768px) {
  .recommend__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 296px;
            flex: 0 0 296px;
  }
}

.recommend__item-icon {
  position: absolute;
  background-color: #fff;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="1" /><feOffset dx="1" dy="2" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.25)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));
  display: grid;
  place-content: center;
  top: 7px;
  left: 7px;
}

.recommend__item-number {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 500;
  background: linear-gradient(177deg, #50BFCB -29.45%, rgba(80, 191, 203, .42) 127.88%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recommend__item-image img {
  border-radius: 14.8px;
  -webkit-box-shadow: 0px 3.7px 3.7px 0px rgba(0, 0, 0, .25);
          box-shadow: 0px 3.7px 3.7px 0px rgba(0, 0, 0, .25);
}

.recommend__item-title {
  margin-top: 35px;
  font-size: clamp(20px, 18.514px + 0.380952381vw, 24px);
  font-size: clamp(1.25rem, 1.1571428571rem + 0.380952381vw, 1.5rem);
  text-align: center;
}

.recommend__item-text {
  margin-top: 16px;
  line-height: 150%;
  letter-spacing: 0.48px;
  text-align: justify;
}

.result {
  background: #F4FBFD;
}

.result__inner {
  padding-top: clamp(56px, 47.085px + 2.2857142857vw, 80px);
  padding-top: clamp(3.5rem, 2.9428571429rem + 2.2857142857vw, 5rem);
  padding-bottom: clamp(40px, 24.028px + 4.0952380952vw, 83px);
  padding-bottom: clamp(2.5rem, 1.5017857143rem + 4.0952380952vw, 5.1875rem);
}

.result__content {
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .25);
  border-radius: 40px;
  padding: 39px 11.5px 42px;
}

.result__heading {
  text-align: center;
}

.result__title {
  line-height: 1.45;
}

.result__lead {
  font-family: "Noto Serif JP", sans-serif;
  font-size: clamp(15px, 9.428px + 1.4285714286vw, 30px);
  font-size: clamp(0.9375rem, 0.5892857143rem + 1.4285714286vw, 1.875rem);
  color: #6C6E6F;
  margin-top: 4px;
}
@media screen and (min-width: 768px) {
  .result__lead {
    line-height: 170%;
  }
}

.result__talk {
  margin-top: 28px;
  margin-inline: auto;
  max-width: 815px;
}
@media screen and (min-width: 768px) {
  .result__talk {
    margin-top: 56px;
  }
}
.result__talk .talk + .talk {
  margin-top: 15px;
}
.result__talk .talk__text {
  line-height: 174%;
  letter-spacing: -0.6px;
}

.room {
  padding-bottom: clamp(41px, 25.4px + 4vw, 83px);
  padding-bottom: clamp(2.5625rem, 1.5875rem + 4vw, 5.1875rem);
}

.room__heading {
  margin-top: 95px;
}

.room__title {
  max-width: 345px;
}

.room__text {
  margin-top: 40px;
  text-align: center;
  font-size: clamp(14px, 12.514px + 0.380952381vw, 18px);
  font-size: clamp(0.875rem, 0.7821428571rem + 0.380952381vw, 1.125rem);
  line-height: 120%;
}
@media screen and (min-width: 768px) {
  .room__text {
    line-height: 170%;
    letter-spacing: 0.54px;
  }
}

.room__swiper {
  margin-top: 37px;
}

@media screen and (min-width: 768px) {
  .room__slide {
    -webkit-transform: scale(0.66) !important;
            transform: scale(0.66) !important;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .room__slide img {
    height: auto;
  }
}

.swiper-slide-active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.solution {
  background-image: url(../images/solution-bg.png);
  background-position: center;
  background-size: cover;
}

.solution__inner {
  padding-top: 65px;
  padding-bottom: 40px;
  max-width: 1022px;
}
@media screen and (min-width: 768px) {
  .solution__inner {
    padding-top: 90px;
    padding-bottom: 82px;
  }
}

.solution__title {
  line-height: normal;
}

.solution__title-image {
  width: clamp(151px, 137.628px + 3.4285714286vw, 187px);
  width: clamp(9.4375rem, 8.6017857143rem + 3.4285714286vw, 11.6875rem);
  padding-right: 5px;
}

.solution__lead {
  line-height: 170%;
  letter-spacing: 0.48px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .solution__lead {
    font-size: 24px;
    letter-spacing: 0.72px;
    line-height: 130%;
    margin-top: -5px;
  }
}

.solution__items {
  margin-top: clamp(30px, 11.428px + 4.7619047619vw, 80px);
  margin-top: clamp(1.875rem, 0.7142857143rem + 4.7619047619vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(3px, -18.171px + 5.4285714286vw, 60px);
  gap: clamp(0.1875rem, -1.1357142857rem + 5.4285714286vw, 3.75rem);
}

.solution__item {
  max-width: clamp(118px, 74.171px + 11.2380952381vw, 236px);
  max-width: clamp(7.375rem, 4.6357142857rem + 11.2380952381vw, 14.75rem);
}

.solution__content {
  margin-top: clamp(55px, 45.714px + 2.380952381vw, 80px);
  margin-top: clamp(3.4375rem, 2.8571428571rem + 2.380952381vw, 5rem);
}
@media screen and (min-width: 1440px) {
  .solution__content {
    background: #fff;
    padding: 40px 37px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, .25);
            box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, .25);
  }
}

.solution__content-title {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: clamp(24px, 21.028px + 0.7619047619vw, 32px);
  font-size: clamp(1.5rem, 1.3142857143rem + 0.7619047619vw, 2rem);
  text-align: center;
}

.solution__content-talks {
  margin-top: clamp(42px, 41.257px + 0.1904761905vw, 44px);
  margin-top: clamp(2.625rem, 2.5785714286rem + 0.1904761905vw, 2.75rem);
}
.solution__content-talks .talk--reverse {
  margin-left: 20px;
}

.solution__content-talk1 {
  gap: 13px;
}

.solution__content-image {
  margin-top: 14px !important;
}

.solution__content-talk5 {
  gap: 8px;
}

.solution__content-talk6 {
  gap: 8px;
  padding-right: 15px;
}

.use__inner {
  padding-top: clamp(70px, 66.285px + 0.9523809524vw, 80px);
  padding-top: clamp(4.375rem, 4.1428571429rem + 0.9523809524vw, 5rem);
  padding-bottom: clamp(53px, 42.971px + 2.5714285714vw, 80px);
  padding-bottom: clamp(3.3125rem, 2.6857142857rem + 2.5714285714vw, 5rem);
}

.use__title {
  max-width: 312px;
}

@media screen and (min-width: 768px) {
  .use__items {
    margin-top: 118px;
  }
  .use__lead-1 {
    left: 10px;
    top: -47px;
  }
  .use__lead-2 {
    left: 83px;
    top: -41px;
  }
  .use__lead-3 {
    left: 51px;
    top: -44px;
  }
}
.voice {
  background: #F4FBFD;
}

.voice__inner {
  padding-top: clamp(45px, 32px + 3.3333333333vw, 80px);
  padding-top: clamp(2.8125rem, 2rem + 3.3333333333vw, 5rem);
  padding-bottom: clamp(70px, 33.6px + 9.3333333333vw, 168px);
  padding-bottom: clamp(4.375rem, 2.1rem + 9.3333333333vw, 10.5rem);
}

.voice__title {
  max-width: 177px;
}

.voice__swiper {
  margin-top: clamp(50px, 38.857px + 2.8571428571vw, 80px);
  margin-top: clamp(3.125rem, 2.4285714286rem + 2.8571428571vw, 5rem);
  max-width: 1130px;
}

.voice__slide {
  padding-inline: 80px;
}
@media screen and (min-width: 768px) {
  .voice__slide {
    padding-inline: 9px;
  }
}

.voice__card {
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(199, 218, 255, .25);
          box-shadow: 0px 4px 4px 0px rgba(199, 218, 255, .25);
  overflow: hidden;
  width: 235px;
}

.voice__image img {
  height: 170px;
}

.voice__body {
  background: #fff;
  overflow: hidden;
  padding: 12px 14px 9px 9px;
}

.voice__lead {
  font-size: clamp(15px, 13.885px + 0.2857142857vw, 18px);
  font-size: clamp(0.9375rem, 0.8678571429rem + 0.2857142857vw, 1.125rem);
  line-height: normal;
}

.voice__text {
  margin-top: 16px;
  line-height: normal;
  display: none;
}

.voice__footer {
  margin-top: clamp(27px, 25.142px + 0.4761904762vw, 32px);
  margin-top: clamp(1.6875rem, 1.5714285714rem + 0.4761904762vw, 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.voice__info {
  font-size: 11.755px;
}

.voice__icon {
  width: clamp(16px, 13.771px + 0.5714285714vw, 22px);
  width: clamp(1rem, 0.8607142857rem + 0.5714285714vw, 1.375rem);
  height: clamp(16px, 13.771px + 0.5714285714vw, 22px);
  height: clamp(1rem, 0.8607142857rem + 0.5714285714vw, 1.375rem);
}

.voice__icon--close {
  display: none;
}

.voice__pagination {
  margin-top: clamp(15px, -9.142px + 6.1904761905vw, 80px);
  margin-top: clamp(0.9375rem, -0.5714285714rem + 6.1904761905vw, 5rem);
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: auto;
}

.voice__prev,
.voice__next {
  top: 46%;
}

.voice__prev {
  left: 25px;
}

.voice__next {
  right: 25px;
}
/*# sourceMappingURL=styles.css.map */
