@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

* {
  min-height: 0vw;
  min-height: 0;
}

.example {
  font-size: clamp(24px, 5.818px + 4.8484848485vw, 64px);
  font-size: clamp(1.5rem, 0.3636363636rem + 4.8484848485vw, 4rem);
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.drawer-icon {
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer-icon__bar {
  position: relative;
  width: 27px;
  height: 1.5px;
  background: #333333;
  border-radius: 4px;
  display: block;
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0;
}
.drawer-icon__bar:nth-of-type(2) {
  margin-block: 6px;
}

.header {
  height: clamp(60px, 43.657px + 4.1904761905vw, 104px);
  height: clamp(3.75rem, 2.7285714286rem + 4.1904761905vw, 6.5rem);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.header__logo {
  width: clamp(151px, 137.628px + 3.4285714286vw, 187px);
  width: clamp(9.4375rem, 8.6017857143rem + 3.4285714286vw, 11.6875rem);
}

.header__button {
  background: #FF8B71;
  width: clamp(128px, 116.114px + 3.0476190476vw, 160px);
  width: clamp(8rem, 7.2571428571rem + 3.0476190476vw, 10rem);
  height: clamp(40px, 34.057px + 1.5238095238vw, 56px);
  height: clamp(2.5rem, 2.1285714286rem + 1.5238095238vw, 3.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: clamp(2rem, 1.8142857143rem + 0.7619047619vw, 2.5rem);
  font-weight: 700;
}

.header__button-arrow {
  margin-left: 7px;
}

.section-title {
  font-family: "Noto Serif JP";
  font-weight: 400;
  font-size: clamp(24px, 18.057px + 1.5238095238vw, 40px);
  font-size: clamp(1.5rem, 1.1285714286rem + 1.5238095238vw, 2.5rem);
}

.campaign {
  padding-top: clamp(24px, 18.057px + 1.5238095238vw, 40px);
  padding-top: clamp(1.5rem, 1.1285714286rem + 1.5238095238vw, 2.5rem);
  padding-bottom: clamp(24px, 16.942px + 1.8095238095vw, 43px);
  padding-bottom: clamp(1.5rem, 1.0589285714rem + 1.8095238095vw, 2.6875rem);
  padding-inline: 15px;
  background: url(../images/campaign-bg-sp.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/*# sourceMappingURL=styles.css.map */
