@use "sass:math";
////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$c-font: #333333;
$c-white: #fff;
$c-gray: #6C6E6F;
$c-accent: #FF8B71;
$c-blue: #82BFED;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP";
$second-font-family: "Noto Serif JP";
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family, sans-serif;
  color: $c-font;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// メディアクエリとブレークポイントの設定
////////////////////

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);


//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

////////////////////
// 階層の指定
////////////////////

$layer-modal: 100;
$layer-drawer: 40;
$layer-floating: 30;
$layer-header: 20;
$layer-footer: 10;
$layer-up: 2;
$layer-default: 1;
$layer-background: -1;

////////////////////
// 非表示設定
////////////////////

//768px以上を表示
.u-desktop {
  display: none;
  @include mq("md") {
    display: block;
  }
}

//モバイルのみ表示
.u-mobile {
  @include mq("md") {
    display: none;
  }
}

@function rclamp($min, $max, $minViewport, $maxViewport) {
  $vwScale: math.div($max - $min, $maxViewport - $minViewport);  // vw単位でのスケールを計算
  $baseOffset: $min - $minViewport * $vwScale;  // 基準となる最小値からのオフセットを計算

  $minRem: math.div($min, 16);  // 最小値をremに変換
  $maxRem: math.div($max, 16);  // 最大値をremに変換
  $baseOffsetRem: math.div($baseOffset, 16);  // オフセットをremに変換
  $vwScaleRem: $vwScale * 100;  // vwスケールを調整

  @return clamp(#{$minRem}rem, #{$baseOffsetRem}rem + #{$vwScaleRem}vw, #{$maxRem}rem);
}

* {
  min-height: 0vw;
  min-height: 0;
}

// 使用例
.example {
  font-size: rclamp(24, 64, 375, 1200);
}
