@use "global" as *;

.button {
    background: $c-accent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-white;
    border-radius: rclamp(32, 40, 390, 1440);
    font-weight: $bold;
}
