@use "global" as *;

.steps {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;

    @include mq("md") {
        flex-direction: row;
        justify-content: center;
        gap: 31px;
    }
}

.step {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
    max-width: 527px;
    width: 100%;

    @include mq("md") {
        flex-direction: column;
        text-align: center;
        width: 234px;
    }
}

.step__image {
    max-width: 118px;

    @include mq("md") {
        max-width: 174px;
    }
}

.step__lead {
    font-family: $font-family-comment;
    font-size: rclamp(15, 23, 390, 1440);
    letter-spacing: -1.35px;

    @include mq("md") {
        position: absolute;
        letter-spacing: -2.07px;
        white-space: nowrap;
        transform: rotate(-5deg);
        top: 0;
        left: 0;
    }
}

.step__title {
    margin-top: 13px;
    font-size: rclamp(20, 24, 390, 1440);

    @include mq("md") {
        margin-top: 8px;
    }
}

.step__text {
    margin-top: 15px;
    line-height: 150%;

    @include mq("md") {
        margin-top: 17px;
        line-height: 170%;
    }
}
