@use "global" as *;

.banner {
    padding-top: rclamp(20, 40, 390, 1440);
    max-width: 1280px;
    padding-inline: 15px;
    margin-inline: auto;

    @include mq("xl") {
        padding-inline: 0;
    }
}
