@use "global" as *;

.cta {
    background: $c-green;
    position: relative;
}

.cta__wave {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%) translateY(2px) scale(1, 1);
    transform-origin: top;
    width: 100%;
}

.cta__inner {
    padding-top: 63px;
    padding-bottom: 120px;

    @include mq("xl") {
        padding-top: 54px;
        padding-bottom: 95px;
    }
}

.cta__content {
    position: relative;
}

.cta__title {
    font-family: $base-font-family;
    font-weight: $normal;
    line-height: 67%;
    letter-spacing: -0.72px;
    font-size: clamp(1.125rem, -0.125rem + 6.67vw, 1.5rem);

    @include mq("md") {
        letter-spacing: 0.96px;
        flex-wrap: nowrap;
        max-width: 768px;
    }

    @include mq("xl") {
        font-size: 32px;
        max-width: 987px;
    }
}

.cta__title--strong {
    font-weight: $bold;
}

.cta__button-boxes {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    @include mq("md") {
        flex-direction: row;
        margin-top: 62px;
    }
}

.cta__button-text {
    font-weight: $bold;
    line-height: normal;
    display: flex;
    justify-content: center;
    gap: 8px;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 2px;
        height: 22px;
        background-color: $c-gray;
    }

    &::before {
        transform: rotate(-20deg);
    }

    &::after {
        transform: rotate(20deg);
    }

    @include mq("md") {
        font-size: 24px;
        letter-spacing: 0.72px;
        align-items: center;
    }
}

.cta__button {
    margin-top: rclamp(8, 12, 390, 1440);
    font-size: rclamp(22, 30, 390, 1440);
    padding: 20px 10px;
    width: rclamp(300, 400, 390, 1440);
    height: rclamp(56, 88, 390, 1440);
}

.cta__button--deco {
    font-size: rclamp(20, 28, 390, 1440);
}

.cta__button-arrow {
    transform: translateX(10px);
}

.cta__image-sp {
    position: absolute;
    width: 77px;
    height: 136px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    @include mq("xl") {
        display: none;
    }
}

.cta__image-pc {
    display: none;
    position: absolute;
    width: 165.763px;
    height: 291px;
    top: 151px;
    right: -145.658px;

    @include mq("xl") {
        display: block;
        top: 73px;
    }
}
