@use "global" as *;

.example {
    background: $c-base;
}

.example__inner {
    padding-top: rclamp(52, 80, 390, 1440);
    padding-bottom: rclamp(55, 80, 390, 1440);
    max-width: 1280px;
    padding-inline: 0;
}

.example__content {
    background: $c-white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 55px 30px 50px;

    @include mq("md") {
        padding: 48px 135px 51px;
    }
}

.example__title {
    max-width: rclamp(250, 477, 390, 1440);
}

.example__lead {
    margin-top: rclamp(31, 48, 390, 1440);
    font-size: rclamp(15, 18, 390, 1440);
    line-height: 150%;

    @include mq("xl") {
        line-height: 170%;
        letter-spacing: 0.54px;
        text-align: center;
    }
}

.example__container {
    position: relative;

    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -11px;

        @include mq("md") {
            bottom: -5px;
        }
    }
}

.example__swiper {
    margin-top: rclamp(40, 48, 390, 1440);
    padding-bottom: rclamp(40, 48, 390, 1440);
}

.example__slide {
    padding-inline: 45px;

    @include mq("md") {
        padding-inline: 7px;
    }
}

.example__text {
    margin-top: 26px;
    text-align: center;

    @include mq("md") {
        margin-top: 29px;
    }
}

.example__prev,
.example__next {
    position: absolute;
    transform: translateY(-50%);
    top: 51%;

    @include mq("md") {
        top: 50%;
        width: 29px;
        height: 29px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }
}

.example__prev {
    left: -5px;

    @include mq("md") {
        left: -60px;
    }
}

.example__next {
    right: -5px;

    @include mq("md") {
        right: -60px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);

    @include mq("md") {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    }
}

.swiper-pagination-bullet {
    background: $c-border;
    opacity: 1;
    width: 12px;
    height: 12px;

    @include mq("md") {
        width: 8px;
        height: 8px;
    }
}

.swiper-pagination-bullet-active {
    background: $c-gray;
}
