@use "global" as *;

.example {
    background: $c-base;
}

.example__inner {
    padding-block: rclamp(56, 80, 390, 1440);
}

.example__content {
    background: $c-white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 40px 15px;
}

.example__title {
    max-width: 250px;
}

.example__text {
    margin-top: rclamp(25, 40, 390, 1440);
    font-size: rclamp(15, 18, 390, 1440);
    line-height: 150%;
}
