@use "global" as *;

.guide {
    background-color: $c-base;
    position: relative;
}

.guide__inner {
    padding-top: rclamp(50, 67, 390, 1440);
    padding-bottom: rclamp(27, 85, 390, 1440);
}

.guide__title {
    max-width: rclamp(201, 395, 390, 1440);
}

.guide__items {
    margin-top: rclamp(52, 96, 390,1440);
    margin-inline: auto;
    max-width: 800px;
}

.guide__item {
    &+& {
        margin-top: 44px;

        @include mq("md") {
            margin-top: 48px;
        }
    }
}

.guide__item-title {
    font-weight: $normal;
    font-size: 20px;
    display: flex;
    gap: 8px;

    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: $c-gradation;
    }
}

.guide__item-text {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.6px;
    margin-top: 13px;

    &+& {
        margin-top: 30px;
    }

    @include mq("md") {
        margin-top: 15px;
        line-height: 170%;
        letter-spacing: 1.4px;
        text-align: justify;
    }
}

.guide__item-lists {
    border-top: 1px dashed $c-gray;
    border-bottom: 1px dashed $c-gray;
    padding-block: 20px;
    margin-top: rclamp(3, 9, 390, 1440);
    width: 215px;
}

.guide__item-list {
    font-size: 15px;
    letter-spacing: 0.45px;

    &+& {
        margin-top: 11px;
    }

    @include mq("md") {
        letter-spacing: 1.4px;
    }
}

.guide__item-text--info {
    font-size: 16px;
    font-weight: $bold;
    letter-spacing: 0.48px;
    line-height: 163%;
    margin-top: 37px;

    @include mq("md") {
        line-height: 170%;
        margin-top: 49px;
    }
}

.guide__item-text--attention {
    font-size: 13px;
    color: $c-gray;
    margin-top: 12px;
    line-height: normal;
    text-align: justify;

    @include mq("md") {
        margin-top: 15px;
        line-height: 170%;
        letter-spacing: 0.39px;
    }
}
