@use "global" as *;

.info__inner {
    padding-top: rclamp(84, 122, 390, 1440);
    padding-bottom: rclamp(40, 81, 390, 1440);
}

.info__title {
    max-width: 690px;
}

.info__items {
    margin-top: 57px;
    margin-inline: auto;
    max-width: 768px;

    @include mq("md") {
        margin-top: 57px;
    }
}

.info__item {
    &+& {
        margin-top: 27px;

        @include mq("md") {
            margin-top: 34px;
        }
    }
}

.info__item-link {
    border-bottom: 1px solid $c-border;
    padding-bottom: rclamp(6, 22, 390, 1440);
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
    }
}

.info__item-meta {
    display: inline-flex;
    gap: 25px;
    align-items: center;

    @include mq("md") {
        gap: 26px;
        padding-right: 23px;
    }
}

.info__item-date {
    font-family: $font-family-en;

    @include mq("md") {
        letter-spacing: 0.48px;
    }
}

.info__item-category {
    font-family: $font-family-en;
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    border: 1px solid $c-gray;
    border-radius: 2px;
    padding: 2px 7px;

    @include mq("md") {
        padding: 5px 7px;
    }
}

.info__item-title {
    margin-top: 2px;
    font-size: 16px;
    font-weight: $normal;
    line-height: normal;
    letter-spacing: 0.64px;
    text-align: justify;

    @include mq("md") {
        margin-top: 0;
        letter-spacing: 0.48px;
    }
}

.info__button {
    margin-top: 40px;
    text-align: center;

    .button-link {
        line-height: 150%;
    }
}
