@use "global" as *;

.labo {
    position: relative;
}

.labo__inner {
    padding-top: rclamp(58, 85, 390, 1440);
    padding-bottom: rclamp(40, 80, 390, 1440);
}

.labo__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labo__title {
    font-family: $font-family-comment;
    font-size: 21px;
    letter-spacing: -3.15px;
    color: #00C2CB;
    display: table;
    line-height: 170%;

    @include mq("md") {
        font-size: 42px;
        letter-spacing: -6.3px;
    }
}

.labo__title--span1 {
    letter-spacing: -1.05px;
}

.labo__title--span2 {
    letter-spacing: 0.42px;
}

.labo__title--span3 {
    letter-spacing: -0.84px;
}

.labo__lead {
    font-size: 9.137px;
    letter-spacing: 0.183px;
    line-height: 170%;

    @include mq("md") {
        font-size: 18px;
        letter-spacing: 0.36px;
    }
}

.labo__items {
    margin-top: rclamp(40, 80, 390, 1440);
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mq("md") {
        flex-direction: row;
    }
}

.labo__button {
    margin-top: rclamp(40, 77, 390, 1440);
    text-align: center;

    .button-link {
        line-height: 170%;
    }
}
