@use "global" as *;

.movie__inner {
    padding-top: 55px;
    padding-bottom: 47px;
    max-width: 1120px;

    @include mq("md") {
        padding-top: 71px;
        padding-bottom: 77px;
    }
}

.movie__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;

    @include mq("md") {
        flex-direction: row;
        gap: 24px;
    }
}

.movie__item {
    max-width: 471px;

    img {
        border-radius: 16px;
    }
}
