@use "global" as *;

.movie__inner {
    padding-block: 40px;
    max-width: 1120px;

    @include mq("md") {
        padding-top: 71px;
        padding-bottom: 42px;
    }
}

.movie__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    @include mq("md") {
        flex-direction: row;
        gap: 24px;
    }
}

.movie__item {
    max-width: 471px;
}
