@use "global" as *;

.product {
    background-color: $c-base;
}

.product__inner {
    padding-top: rclamp(56, 80, 390, 1440);
    padding-bottom: rclamp(40, 80, 390, 1440);
}

.product__title {
    max-width: 154px;
}

.product__content {
    margin-top: rclamp(40, 80, 390, 1440);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include mq("md") {
        flex-direction: row;
        align-items: flex-start;
        gap: 52px;
    }
}

.product__image {
    width: 150px;
    height: 265px;

    @include mq("md") {
        width: 225px;
        height: 395px;
    }
}

.product__item {
    display: flex;
    align-items: flex-start;

    &+& {
        margin-top: rclamp(12, 19, 390, 1440);
    }

    &:first-child {
        .product__item-detail {
            font-size: 16px;
            letter-spacing: 0.48px;
        }
    }
}

.product__item-title {
    font-size: rclamp(13, 16, 390, 1440);
    width: rclamp(94, 100, 390, 1440);
}

.product__item-detail {
    font-size: rclamp(13, 16, 390, 1440);
    letter-spacing: -0.39px;
    line-height: 1.44;
    flex: 1;
}
