@use "global" as *;

.problem__inner {
    background: url(../images/problem-bg-sp.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.problem__head {
    padding-top: rclamp(43, 80, 390, 1440);
    text-align: center;
}

.problem__body {
    margin-top: rclamp(24, 25, 390, 1440);
    display: flex;
    max-width: rclamp(420, 992, 390, 1440);
    width: 100%;
    padding-right: 15px;
    position: relative;
    height: rclamp(241, 368, 390, 1440);
    margin-inline: auto;

    @include mq("xl") {
        gap: 64px;
    }
}

.problem__image {
    position: absolute;
    display: block;

    img {
        height: rclamp(241, 368, 390, 1440);
    }

    @include mq("xl") {
        position: static;
    }
}

.problem__items {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    margin-top: 32px;
    padding-bottom: rclamp(31, 41, 390, 1440);
    z-index: $layer-up;
    gap: rclamp(19, 29, 390, 1440);
}

.problem__item {
    width: rclamp(249, 641, 390, 1440);
    border: 0.395px solid $c-gray;
    border-radius: rclamp(8, 16, 390, 1440);
    display: flex;
    align-items: baseline;
    padding: 9.474px 9.474px 9.474px 8px;
    background: $c-white;
    max-width: 560px;

    @include mq("xl") {
        padding: 24px;
        display: inline-flex;
        align-items: flex-start;
    }
}

.problem__lead {
    font-size: rclamp(16, 24, 390, 1440);
    font-weight: $normal;
    line-height: 130%;
    letter-spacing: -0.7px;
    margin-left: rclamp(6.32, 16, 390, 1440);
}

.problem__item-image {
    width: rclamp(10, 24, 390, 1440);
}

.problem__foot {
    background-color: $c-blue;
    text-align: center;
    position: relative;
    width: 100%;
    padding-block: 20px;

    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        left: 50%;
        transform: translateX(-50%) translateY(16px);
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-top: 27px solid $c-blue;
    }

    @include mq("xl") {
        background-color: rgba(130, 191, 237, 0.4);
        padding-top: 25px;
        padding-bottom: 33px;

        &::after {
            border-top: 50px solid rgba(130, 191, 237, 0.4);
            border-left: 45px solid transparent;
            border-right: 45px solid transparent;
            transform: translateX(-50%) translateY(33px);
        }
    }
}

.problem__text {
    font-size: rclamp(17, 32, 390, 1440);
    font-feature-settings: "palt";

    @include mq("md") {
        letter-spacing: 0.96px;
        line-height: 170%;
    }
}
