@use "global" as *;

.recommend__inner {
    padding-top: rclamp(55, 90, 390, 1440);
    padding-bottom: rclamp(40, 72, 390, 1440);
}

.recommend__title {
    max-width: 690px;
}

.recommend__items {
    margin-top: rclamp(38, 88, 390, 1440);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 57px 0;

    @include mq("md") {
        gap: 33px 0;
        justify-content: space-between;
    }
}

.recommend__item {
    position: relative;
    flex: 0 1 395px;

    @include mq("md") {
        flex: 0 0 296px;

        &:first-child {
            .recommend__item-text {
                width: 101%;
                letter-spacing: 0.6px;
            }
        }
    }
}

.recommend__item-icon {
    position: absolute;
    background-color: $c-white;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    display: grid;
    place-content: center;
    top: 7px;
    left: 7px;

    @include mq("md") {
        top: -15px;
        left: -12px;
    }
}

.recommend__item-number {
    font-family: $font-family-en;
    font-size: 30px;
    font-weight: $semi-bold;
    background: $c-gradation;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recommend__item-image {
    img {
        border-radius: 14.8px;
        box-shadow: 0px 3.7px 3.7px 0px rgba(0, 0, 0, 0.25);
    }
}

.recommend__item-title {
    margin-top: 35px;
    font-size: rclamp(20, 24, 390, 1440);
    text-align: center;

    @include mq("md") {
        margin-top: 32px;
    }
}

.recommend__item-text {
    margin-top: 16px;
    line-height: 150%;
    letter-spacing: 0.48px;
    text-align: justify;

    @include mq("md") {
        margin-top: 12px;
        line-height: 165%;
    }
}
