@use "global" as *;

.result {
    background: $c-base;
}

.result__inner {
    padding-top: rclamp(56, 80, 390, 1440);
    padding-bottom: rclamp(40, 83, 390, 1440);
}

.result__content {
    background: $c-white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 39px 11.5px 42px;

    @include mq("md") {
        padding: 46px 11.5px 33px;
    }
}

.result__heading {
    text-align: center;
}

.result__title {
    line-height: 1.45;

    @include mq("lg") {
        letter-spacing: 1px;
    }
}

.result__lead {
    font-family: $second-font-family;
    font-size: rclamp(15, 30, 390, 1440);
    color: $c-gray;
    margin-top: 4px;

    @include mq("md") {
        line-height: 170%;
        margin-top: 0;
    }
}

.result__talks {
    margin-top: 28px;
    margin-inline: auto;
    max-width: 815px;

    @include mq("md") {
        margin-top: 56px;
    }

    .talk + .talk {
        margin-top: 15px;

        @include mq("md") {
            margin-top: 28px;
        }
    }

    .talk__text {
        line-height: 174%;
        letter-spacing: -0.6px;

        @include mq("md") {
            letter-spacing: 0.6px;
            text-align: left;
        }
    }
}

@include mq("md") {
    .result__balloon1 {
        padding-right: 42px;
    }

    .result__balloon2 {
        max-width: 595px;
    }

    .result__balloon3 {
        max-width: 685px;
    }
}
