@use "global" as *;

.room {
    padding-bottom: rclamp(41, 78, 390, 1440);
}

.room__heading {
    margin-top: 95px;

    @include mq("md") {
        margin-top: 90px;
    }
}

.room__title {
    max-width: rclamp(345, 638, 390, 1440);
}

.room__text {
    margin-top: 40px;
    text-align: center;
    font-size: rclamp(14, 18, 390, 1440);
    line-height: 120%;

    @include mq("md") {
        line-height: 170%;
        letter-spacing: 0.54px;
        margin-top: 48px;
    }
}

.room__swiper {
    margin-top: 37px;
}

.room__slide {
    @include mq("md") {
        transform: scale(0.66) !important;
        transition: transform 0.5s;

        img {
            height: auto;
        }
    }
}

.swiper-slide-active {
    transform: scale(1) !important;
}
