@use "global" as *;

.solution {
    background-image: url(../images/solution-bg.png);
    background-position: center;
    background-size: cover;
}

.solution__inner {
    padding-top: 65px;
    padding-bottom: 40px;
    max-width: 1022px;

    @include mq("md") {
        padding-top: 90px;
        padding-bottom: 82px;
    }
}

.solution__title {
    line-height: normal;
}

.solution__title-image {
    width: rclamp(151, 187, 390, 1440);
    padding-right: 5px;
}

.solution__lead {
    line-height: 170%;
    letter-spacing: 0.48px;
    text-align: center;

    @include mq("xl") {
        font-size: 24px;
        letter-spacing: 0.72px;
        line-height: 130%;
        margin-top: -5px;
    }
}

.solution__items {
    margin-top: rclamp(30, 80, 390, 1440);
    display: flex;
    justify-content: center;
    gap: rclamp(3, 60, 390, 1440);
}

.solution__item {
    max-width: rclamp(118, 236, 390, 1440);
}

.solution__content {
    margin-top: rclamp(55, 80, 390, 1440);

    @include mq("xl") {
        background: $c-white;
        padding: 40px 37px;
        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, 0.25);
    }
}

.solution__content-title {
    font-family: $second-font-family;
    font-weight: $normal;
    line-height: normal;
    font-size: rclamp(24, 32, 390, 1440);
    text-align: center;
}

.solution__content-talks {
    margin-top: rclamp(42, 44, 390, 1440);

    .talk--reverse {
        margin-left: 20px;
    }
}

.solution__content-talk1 {
    gap: 13px;
}

.solution__content-image {
    margin-top: 14px !important;
}

.solution__content-talk5 {
    gap: 8px;
}

.solution__content-talk6 {
    gap: 8px;
    padding-right: 15px;
}
