@use "global" as *;

.solution {
    background-image: url(../images/solution-bg.png);
    background-position: center;
    background-size: cover;
}

.solution__inner {
    padding-block: 40px;
}

.solution__title-image {
    width: rclamp(151, 187, 390, 1440);
    padding-right: 8px;
}

.solution__lead {
    line-height: 170%;
    letter-spacing: 0.48px;
    margin-top: 12px;
    text-align: center;
}

.solution__items {
    margin-top: rclamp(30, 80, 390, 1440);
    display: flex;
    gap: rclamp(3, 57, 390, 1440);
}

.solution__content {
    margin-top: rclamp(56, 80, 390, 1440);
}

.solution__content-title {
    font-family: $second-font-family;
    font-weight: $normal;
    font-size: rclamp(24, 32, 390, 1440);
    text-align: center;
}

.solution__content-talk {
    margin-top: rclamp(42, 44, 390, 1440);
}
