@use "global" as *;

.use__inner {
    padding-top: rclamp(56, 80, 390, 1440);
    padding-bottom: rclamp(40, 80, 390, 1440);
}

.use__title {
    max-width: 312px;
}

@include mq("md") {
    .use__items {
        margin-top: 118px;
    }
    
    .use__lead-1 {
        left: 10px;
        top: -47px;
    }

    .use__lead-2 {
        left: 83px;
        top: -41px;
    }

    .use__lead-3 {
        left: 51px;
        top: -44px;
    }
}
