@use "global" as *;

.footer {
    position: relative;
}

.footer__items {
    margin-top: rclamp(54, 68, 390, 1440);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;

    @include mq("lg") {
        flex-direction: row;
        gap: 0;
    }
}

.footer__item {
    &:first-child {
        .footer__item-link {
            border-left: none;
        }
    }
}

.footer__item-link {
    font-size: rclamp(13, 16, 390, 1440);
    color: $c-gray;

    @include mq("lg") {
        border-left: 1px solid $c-gray;
        padding-left: 16px;
        padding-right: 15px;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 788px;
    margin-inline: auto;
}

.footer__logo {
    margin-top: rclamp(44, 48, 390, 1440);
    width: rclamp(95, 141, 390, 1440);
    height: rclamp(95, 141, 390, 1440);
}

.footer__text {
    font-size: rclamp(13, 16, 390, 1440);
    color: $c-gray;
    line-height: normal;
    font-weight: $semi-bold;
}

.footer__bottom {
    margin-top: 57px;
    background-color: $c-base;
    text-align: center;
    padding-bottom: rclamp(7, 30, 390, 1440);
}

.footer__copyright {
    color: $c-gray;
    font-size: rclamp(7, 14, 390, 1440);
}

.footer__wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: $layer-background;
}
