@use "global" as *;

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background: $c-white;
    z-index: $layer-header;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header__logo {
    width: rclamp(151, 187, 390, 1440);
}

.header__button {
    width: rclamp(128, 160, 390, 1440);
    height: rclamp(40, 56, 390, 1440);
}

.header__button-arrow {
    margin-left: 7px;
}
