@use "global" as *;

.section-inner {
    padding-inline: 15px;
}

.section-title {
    font-family: $second-font-family;
    font-weight: $normal;
    font-size: rclamp(24, 40, 390, 1440);
}

.section-title--deco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    max-width: rclamp(400, 987, 390, 1440);
    width: 100%;
    margin: 0 auto;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: rclamp(25, 33, 390, 1440);
        height: rclamp(40, 53, 390, 1440);
        background-size: contain;
    }

    &::before {
        background-image: url(../images/heading-left.png);
        left: 8px;
    }

    &::after {
        background-image: url(../images/heading-right.png);
        right: 8px;
    }
}
